* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', 'sans-self';
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.btn {
    width: 180px;
    height: 44px;
    background-color: #3c3775;
    color: #fff;
    font-size: 1.8rem;
    border: none;
    border-radius: 10px;
}
header {
    width: 100%;
    height: 130vh;
    background:url(../image/background.png) top center / cover no-repeat;
    
}
.header__nav {
    display: flex;
    padding-top: 30px;
}
header >img {
    width: 40px;
    height: 40px;
}
.header__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__item {
    width: 120px;
    text-align: center;
    list-style: none;
    font-size: 1.4rem;
    color: #fff;
    padding: 0 23px;
    border-right: 1px solid #fff;
}
.header__item:last-child {
    border-right: none;

}
.header__icon {
    margin-left: 32px;
    margin-top: 10px;
}
/* header__content */
.header__content {
    padding-top: 60px;
    padding-left: 150px;
}
.header__content-wrap {
    display: flex;
}
.header__content-text {
    padding-left: 50px;
}
.header__content-text > img {
    width: 200px;
}
.header__content-text >h1 {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 100;
    margin-bottom: 20px;
    color: #8adce7;
}
.header__content-text >p {
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;

}
form {
    width: 500px;
    height: 48px;
    padding-left: 20px;
    display: flex;
    margin-right: 70px;
    position: relative;
}
form >input {
    width: 100%;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid #fff;
}
form > button {
    position: absolute;
    top: 5%;
    right: 0;
}
.header__content > p{
    font-size: 1.9rem;
    color: #fff;
    margin-left: 20px;
}
/* content1_container */
.content1 {
    padding-bottom: 80px;
}
.content1__img {
    display: flex;
    margin: auto;
}
.content1_container {
    display: flex;
    justify-content: center;
    position: relative;
}
.content1_container-wrap {
    margin-left: 20px;
}
.p-active {
    font-size: 1.4rem;
    color: #000;
    font-weight: 600;
}
.p-no-active {
    font-size: 1.4rem;
}
.content1_container-wrap > ul >li {
    font-size: 1.4rem;
}
.btn-active {
    background-color: #fff;
    border: 1px solid #3c3775;
    color: #3c3775;
    font-weight: 600;
}
.content1_container-icon1 {
    font-size: 6rem;
    position: absolute;
    top: 108px;
    left: 86px;
}
.content1_container-icon2 {
    font-size: 6rem;
    position: absolute;
    top: 108px;
    right: 86px;
}
/* content2 */
.content2 {
    width: 100%;
    background-color: #3c3775;
}
.content2-wrap1 {
    display: flex;
    justify-content: center ;
}
.content2-wrap1-list1 {
    margin-right: 125px;
}
.content2-wrap1-list1 >h2 {
    text-align: center;
    color: #fff;
    font-weight: 600;
}
.content2-wrap1-list1 > p {
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;

}
.content2-wrap1-list1 >.img2 {
    display: flex;
    margin: auto;
}
.content2-btn {
    width: 500px;
    background-color: #3ac4d2;
    margin: 30px 0;
}
/* content3 */
.content3 {
    margin-bottom: 50px;
}
.content3-wrap1 {
    display: flex;
    justify-content: center ;
}
.content3-wrap2 {
    display: flex;
    justify-content: center ;
} 
.page {
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
.content3-wrap2-p {
    text-align: center;
}
.h1 {
    text-align: center;
}
.content3-btn {
    width: 500px;
    background-color: #48447e;
    display: block;
    margin: auto;
}
/* Footer */
.footer {
    background-color: #f5f4f9;
}
.footer_list {
    list-style: none;
    font-size: 1.4rem;
}
.li-active {
    color: #3c3775;
    font-weight: 600;
}
.footer-icon {
    font-size: 1.4rem;
    margin-right: 10px;
}
.footer-p{
    font-size: 1.4rem;
}